.bottom-line{
  border-bottom: 1px dotted rgba(255, 255, 255, 0.4);
}

.choice{
  text-align:left;
}

@keyframes blink {
  to {
    color: rgba(0, 255, 255, 0.4);
  }
}
@-webkit-keyframes blink {
  to {
    color: rgba(0, 255, 255, 0.4);
  }
}

h1{
  text-align:center;
  font-family: 'bitwiseregular', Impact, Charcoal, sans-serif;
  color: rgba(44, 78, 86, 0.63);
  text-shadow: 5px 7px rgba(44, 78, 86, 0);
  margin: 0px;
  font-size: 77px;
}

.text-section{
  clear:both;
  padding: 20px;
  animation: none;
  -webkit-animation: none;
  background-image: url(assets/images/dark.png), url(assets/images/static2.gif);
  text-shadow: -2px 2px rgba(0, 0, 0, 0.63);
  color: white;
  background-repeat: no-repeat, repeat;
  background-size: cover, 100px 100px;
}

.text-section tw-link, .text-section .replay{
  color: #00FFFF;
  text-shadow: -2px 2px rgba(44, 78, 86, 0.63);
  animation: blink 1s steps(10, start) infinite;
  -webkit-animation: blink 1s steps(10, start) infinite;
}

.replay{
  cursor:pointer;
}

tw-icon {
  opacity: .3;
  color: #6EB7D4;
}

tw-passage h1{
  color: #00FFFF;
  text-shadow: 5px 7px rgba(44, 78, 86, 0.63);
}

tw-passage{
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 12px 16px 35px black;
  animation: none;
  -webkit-animation: none;
}

tw-story{
  font-family: 'edit_undo_line_brkregular', "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
}

tw-link, tw-link.visited {
  color: rgba(173, 62, 62, .5);
}

.text-section tw-link.visited{
  color:red;
}

.bottom-menu {
    position: absolute;
    margin-top: 20px;
    z-index:997;
    font-family: monospace;
    color:white;
    font-size: 10px;
}

.save {
  background-image: url(assets/images/floppydisksave.png);
  width: 35px;
  height: 35px;
}

.load {
  background-image: url(assets/images/floppydiskload.png);
  width: 35px;
  height: 35px;
}

tw-error, tw-error-explanation {
    font-family: monospace;
    font-size: 10px;
}

@media screen and (max-width: 650px) /* Mobile */ {
  h1{
    font-size:40px;
  }

  tw-story{
    width:90%;
    padding:5px;
    font-size:20px;
  }
}
