/*Custom text section backgrounds*/

.text-section.angeladriving {
  background-image:url(assets/images/angeladriving.png), url(assets/images/static.gif);
}

.text-section.celltower {
  background-image:url(assets/images/celltower.png), url(assets/images/static.gif);
}

.text-section.electricsky {
  background-image:url(assets/images/electricsky.png), url(assets/images/static.gif);
}

.text-section.headlights {
  background-image:url(assets/images/headlights.png), url(assets/images/static.gif);
}

.text-section.headlights-off {
  background-image:url(assets/images/vacantsuburb.png), url(assets/images/static.gif);
}

.text-section.met-shep {
  background-image:url(assets/images/cellphone.png), url(assets/images/static.gif);
}

.text-section.shepheadlamp {
  background-image:url(assets/images/shepheadlamp.png), url(assets/images/static.gif);
}

.text-section.shep-on-haunches {
  background-image:url(assets/images/shepsmoking.png), url(assets/images/static.gif);
}

.text-section.shep-sitting {
  background-image:url(assets/images/shep.png), url(assets/images/static.gif);
}

.text-section.static {
  background-image:url(assets/images/refinery.png), url(assets/images/static.gif);
}

.text-section.takeknife {
  padding:70px 20px;
}

.text-section.takeknife {
  background-image:url(assets/images/takeknife.png), url(assets/images/static.gif);
}

.text-section.twistedtrees {
  background-image:url(assets/images/twistedbranches.png), url(assets/images/static.gif);
}

.text-section.walmart-question {
  padding: 50px 20px;
}

.text-section.walmart-question {
  background-image:url(assets/images/shepeyes.png), url(assets/images/static.gif);
}
